@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s ease;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rbga(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.slide:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1559310589-2673bfe16970?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.slide:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1460500063983-994d4c27756c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.slide:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1589666257259-af7df6024c3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.slide:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1531366936337-7c912a4589a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.arrow {
  position: fixed;
  background-color: transparent;
  padding: 1.25rem;
  font-size: 1.875rem;
  border: 2px solid orange;
  color: orange;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.arrow:focus {
  outline: none;
  box-shadow: inset 0px 0px 15px lightblue;
}

.left-arrow {
  left: calc(15vw - 71px);
}

.right-arrow {
  right: calc(15vw - 71px);
}
