@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 400px;
  overflow: hidden;
}

.images-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 1rem;
  color: #00568F;
  width: 3rem;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to bottom, #83C9F4, #00568F);
  border-image-slice: 1;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  outline: none;
}